*, *:after, *:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-georgia;
  background: $color-tertiary;
  color: $color-text-1;
  font-size: $font-size-default;
  font-weight: 400;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width:100%;
  height:auto;
  display:block;
}
