@use 'sass:map';
@use 'sass:math';

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-row-width;

  @each $bp, $gutter in $grid-column-gutter {
    @include breakpoint($bp) {
      margin-left: math.div($gutter, -2);
      margin-right: math.div($gutter, -2);
    }
  }
}

.column,
.columns {
  flex: 1 1 0;
  min-width: 0;

  @each $bp, $gutter in $grid-column-gutter {
    @include breakpoint($bp) {
      padding-left: math.div($gutter, 2);
      padding-right: math.div($gutter, 2);
    }
  }
}

@each $bp in (small, medium, large) {
  @include breakpoint($bp) {
    @for $i from 1 through $grid-column-count {
      .#{$bp}-#{$i} {
        $w: math.percentage(math.div($i, $grid-column-count));
        flex: 0 0 $w;
        max-width: $w;
      }
    }

    @for $i from 1 through $grid-column-count - 1 {
      .#{$bp}-offset-#{$i} {
        margin-left: math.percentage(math.div($i, $grid-column-count));
      }
    }
  }
}
