.l-container {
  display: block;
  margin: 0 auto;
  max-width: $layout-max-width + 40px;
  padding: 0 20px;
}


.l-page {
  display: flex;
  flex-direction: column;

  &.-fullscreen {
    height: 100vh;
  }
}

.l-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.l-sidebar {
  display: flex;
  flex-direction: column;

  .l-sidebar-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }
}
