@import 'settings';

// Reset
@import '../node_modules/normalize.css/normalize';

// Foundation
@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-responsive-embed;
@import 'foundation_settings';

// Common
@import 'base';
@import 'fonts';
@import 'layout';
@import 'animations';

// Components
// - layout
@import 'components/layout/header';

// - page
@import 'components/page/static-header';
@import 'components/page/static-section';
@import 'components/page/static-box';

// - map
@import '../node_modules/leaflet/dist/leaflet';
@import 'components/map/map';

// - ui
@import 'components/ui/article';
@import 'components/ui/aside';
@import 'components/ui/button';
@import 'components/ui/card';
@import 'components/ui/gallery';
@import 'components/ui/icon';
@import 'components/ui/intro';
@import 'components/ui/modal';
@import 'components/ui/tabs';
@import 'components/ui/title';

// - help
@import 'components/help/help-section';
