{
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "components": "./components",
          "css": "./css"
        },
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]
  ],
  "presets": [
    "next/babel"
  ],
  "ignore": []
}
