.next/
.next-stats-*/

node_modules/
static/tiles
/npm-debug.log
.env
.env.staging
.env.production
.DS_Store

# vscode
.vscode

# Sentry
.sentryclirc

# coverage
/coverage
.nyc_output/

# tmp files
/tmp
