.c-db-table {
  .c-title {
    color: $color-primary;
    font-family: $font-family-proximanova;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
    text-transform: uppercase;
  }

  .c-checkbox-box {
    margin: 35px 0 55px;
  }
}
