
.c-footer {
  position: relative;
  z-index: 1;

  .footer-container {
    padding: 55px 0;
    color: $color-white;
    display: flex;
    justify-content: space-between;
  }

  .footer-item {
    display: flex;
    justify-content: center;
    flex-flow: column;

    &:last-child {
      text-align: right;
    }
  }

  p {
    font-family: $font-family-proximanova;
    font-size: 14px;
    margin: 0;
    line-height: 24px;
    margin-bottom: 5px;

    &:last-child { margin-bottom: 0; }

    &.-bold {
      font-weight: bold;
    }
  }

  .upper-footer {
    background-color: rgba($color-black, .04);

    // Logo
    .logo {
      display: block;
      margin: 0;
      padding: 0;
      width: 130px;
      height: 33px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('/static/images/otp-logo.svg');

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
      }
    }
  }

  .lower-footer {
    background-color: $color-gray-1;
  }
}
