.c-header {
  width: 100%;
  z-index: $z-index-2;

  // Container
  .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  // Logo
  .header-logo {
    display: block;
    margin: 0;
    padding: 0;
    width: 130px;
    height: 33px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-indent: -9999px;
    }
  }

  // Nav
  .header-nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // THEMES
  &.-theme-default {
    position: relative;
    background: $color-tertiary;

    .header-logo {
      width: 130px;
      height: 33px;
      background-image: url('/static/images/otp-logo.svg');
    }

    .header-nav-list,
    .c-navigation-list {
      > li {
        > a {
          color: $color-text-1;

          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 0px;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            background: $color-secondary;
            transition: all $animation-time $ease-in-out-sine;
          }

          svg {
            fill: $color-primary;
          }

          &:hover {
            color: lighten($color-text-1, 40%);
          }

          &.-active {
            color: $color-text-1;

            &:after {
              height: 5px;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.-theme-home {
    position: absolute;
    padding: $space-1 * 3 0;
    background: rgba($color-gray-1, 0.7);

    .header-logo {
      width: 187px;
      height: 47px;
      background-image: url('/static/images/otp-logo-white.svg');
    }

    .header-nav-list,
    .c-navigation-list {
      > li {
        > a {
          color: $color-tertiary;

          svg {
            fill: $color-tertiary;
          }

          &:hover {
            color: darken($color-white, 20%);
          }
        }
      }
    }
  }
}
