.c-account-dropdown {
  display: inline-block;

  &.dropdown--active .dropdown__content {
    display: block;
  }

  .dropdown__trigger {
    margin-right: 0;
  }

  // Content
  .dropdown__content {
    display: none;
    position: absolute;
    top: calc(100% - 5px);
    right: 0;
    box-shadow: 0 2px 6px rgba($color-black, 0.25);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: $space-1 * 7;
      width: $space-1 * 2;
      height: $space-1 * 2;
      transform: rotate(-45deg) translate(0, calc(#{-$space-1} - 4px));
    }
  }

  // List
  .account-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .account-dropdown-list-item {
    cursor: pointer;

    a {
      text-decoration: none;
      padding: 4px;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.-theme-default {
    .dropdown__content {
      &:after {
        background: $color-tertiary;
        border-top: 1px solid rgba($color-black, 0.05);
        border-right: 1px solid rgba($color-black, 0.05);
      }
    }

    .account-dropdown-list {
      min-width: 200px;
      padding: $space-1 * 2;
      background: $color-tertiary;
    }

    .account-dropdown-list-item {
      a {
        color: $color-gray-1;
      }
    }
  }

  &.-theme-home {
    .dropdown__content {
      &:after {
        background: rgba($color-gray-1, 0.9);
        border-top: 1px solid rgba($color-black, 0.15);
        border-right: 1px solid rgba($color-black, 0.15);
      }
    }

    .account-dropdown-list {
      min-width: 200px;
      padding: $space-1 * 2;
      background: rgba($color-gray-1, 0.9);
    }

    .account-dropdown-list-item {
      a {
        color: $color-tertiary;
      }
    }
  }
}
