.c-article {
  margin: $space-1 * 6 0 0;
  &:first-child { margin: 0; }

  h2 {
    margin: 0;
  }

  .description {
    font-size: $font-size-big;
    line-height: 1.5;
  }

  img {
    margin: $space-1 * 3 0 0;
  }
}
