.c-aside {
  padding: $space-1 * 3 0;

  h3 {
    margin: 0;
    font-size: $font-size-default;
    font-weight: $font-weight-default;
    font-family: $font-family-proximanova;
    text-transform: uppercase;
    color: $color-primary;
  }

  nav {
    margin-top: 20px;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        margin: $space-1 0 0;
        cursor: pointer;

        &:first-child { margin: 0 }

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
