.c-button {
  position: relative;
  display: inline-block;
  align-items: center;
  padding: 9px 25px 8px;
  text-align: center;
  letter-spacing: 2px;
  font-family: $font-family-proximanova;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  border-radius: 3px;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  white-space: nowrap;
  text-decoration: none;
  transition: all .1s linear;
  outline: none;
  cursor: pointer;

  // STATES
  &.-disabled {
    pointer-events: none;
    opacity: .4;
  }

  &.-ellipsis { overflow: hidden; text-overflow: ellipsis; }

  // SIZES
  &.-fullwidth { width: 100%; }
  &.-fullheight { height: 100%; }

  // SIZES
  &.-small {
    padding: 5px 15px 4px;
    font-size: $font-size-small;
  }

  // THEMES
  // - primary
  // - secondary
  // - tertiary
  // - facebook
  // - twitter
  // - linkedin
  &.-primary {
    border-color: $border-color-3;
    color: $color-text-1;
    fill: $color-text-1;
    background: transparent;

    &:hover {
      color: darken($color-text-1, 50%);
      fill: darken($color-text-1, 50%);
    }
  }

  &.-secondary {
    border-color: $border-color-3;
    color: $color-text-2;
    fill: $color-text-2;
    background: $color-gray-1;

    &:hover {
      color: darken($color-text-2, 10%);
      fill: darken($color-text-2, 10%);
    }
  }

  &.-dangerous {
    border-color: $color-error;
    color: $color-text-2;
    fill: $color-error;
    background: $color-error;

    &:hover {
      color: darken($color-text-2, 10%);
      fill: darken($color-text-2, 10%);
    }
  }

  &.-tertiary {
    border-color: $color-tertiary;
    color: $color-text-1;
    fill: $color-text-1;
    background: $color-tertiary;

    &:hover {
      color: darken($color-text-1, 10%);
      fill: darken($color-text-1, 10%);
    }
  }

  &.-tooltip {
    color: $color-white;
    border-color: $color-white;
    background: transparent;
    fill: $color-white;

    &.-tooltip-secondary {
      background-color: $color-white;
      fill: $color-primary;
    }
  }

  &.-facebook {
    display: inline-flex;
    background: #3b5998;
    color: $color-white;
    border-color: #3b5998;

    &:hover {
      background: darken(#3b5998, 10%);
    }
  }

  &.-twitter {
    display: inline-flex;
    background: #55acee;
    color: $color-white;
    border-color: #55acee;

    &:hover {
      background: darken(#55acee, 10%);
    }
  }

  &.-linkedin {
    display: inline-flex;
    align-items: flex-start;
    background: #007bb5;
    color: $color-white;
    border-color: #007bb5;

    &:hover {
      background: darken(#007bb5, 10%);
    }
  }

  &.-icon {
    border-radius: 50%;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }

  &.-clean {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
  }

  svg {
    display: block;
  }
}

.c-link-button {
  border: 0;
  background: transparent;
  color: #0000EE;
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #551A8B;
  }
}
