.c-card {
  position: relative;
  width: 100%;
  padding: $space-1 * 4;
  padding-bottom: 100px;
  background: $color-tertiary;

  .card-content {
    > * {
      margin: 0 0 20px;
      &:last-child { margin: 0; }
    }
  }

  .card-letter {
    line-height: 130px;
    font-size: 130px;
    letter-spacing: -3px;
    margin: -#{$space-1 * 2} 0 #{$space-1 * 4};
  }

  .card-title {
    font-family: $font-family-proximanova;
    font-size: $font-size-extrabig;
    font-weight: $font-weight-default;
    line-height: 1.25;
    text-transform: uppercase;
  }

  .card-description {
    font-size: 18px;
  }

  .card-link {
    position: absolute;
    width: calc(100% - #{$space-1 * 8});
    left: 50%;
    bottom: $space-1 * 4;
    transform: translate(-50%,0);
  }

  // THEMES
  &.-primary {
    background: rgba($color-black, 0.04);

    .card-letter {
      color: $color-primary;
    }
  }

  &.-secondary {
    background: $color-secondary;

    .card-letter {
      color: $color-tertiary;
    }

    .card-title {
      color: $color-tertiary;
    }
  }

  &.-tertiary {
    background: $color-tertiary;
  }
}
