.c-chart-legend {
  .chart-legend-title {
    margin: 0;
  }

  .chart-legend-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .chart-legend-item {
    display: flex;
    align-items: center;
    margin: $space-1 0 0;
    &:first-child { margin: 0; }


    > * {
      margin: 0 0 0 $space-1;
      &:first-child { margin: 0; }
    }
  }

  .chart-legend-label {
    font-size: $font-size-default;
    font-style: italic;
  }

  .chart-legend-dot {
    flex: 0 0 16px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &.-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 0 0 10px;
  }

  &.-horizontal {
    display: flex;
    align-items: center;
    padding: $space-1 * 4 0 $space-1 * 6;

    .chart-legend-list {
      display: flex;
      margin: 0 0 0 $space-1 * 3;
    }

    .chart-legend-item {
      margin: 0 0 0 $space-1 * 2;
      &:first-child { margin: 0; }
    }
  }
}
