.c-chart-container {
  footer {
    margin: $space-1 * 7 0 0;
  }

  &.-horizontal {
    .c-chart {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      margin: 0 0 $space-1 * 4;

      .chart {
        flex: 1;
      }

      h3 {
        flex: 0 0 150px;
        margin: 0;
      }
    }

    .chart {
      margin-left: $space-1 * 4;
    }
  }
}

.c-chart {
  position: relative;

  .chart {
    position: relative;
    width: 100%;

    &.-max-width-100 {
      max-width: 100px;
    }
  }

  h3 {
    margin: $space-1 * 2 0 0;
  }
}
