.c-doc-by-category {
  padding: $space-1 * 2 0;

  .doc-by-category-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .doc-by-category-list-item {
    display: flex;
    align-items: center;
    margin: $space-1 * 2 0 0;

    &:first-child {
      margin: 0;
    }
  }

  // TITLE
  .doc-by-category-title {
    flex: 0 0 50%;
    margin: 0 0 0 $space-1;
  }

  // CHART
  .doc-by-category-chart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 50%;
    margin: 0 $space-1 0 0;
  }

  .doc-by-category-bar {
    display: flex;
    height: 7px;
  }

  .doc-by-category-bar-segment {
    height: 100%;
    border-left: 1px solid $color-tertiary;

    &.-doc_valid { background: $color-doc-valid; }
    &.-doc_pending { background: $color-doc-pending; }
    &.-doc_invalid { background: $color-doc-invalid; }
    &.-doc_not_provided { background: $color-doc-not-provided;}
  }
}
