.c-doc-card {
  flex: 1;
  position: relative;
  width: 100%;
  padding: $space-1 * 5 $space-1 * 4 $space-1 * 3;
  margin: 0 0 20px;

  &.country {
    padding: $space-1 * 3;
    padding-bottom: $space-1 * 2;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
  }

  a {
    text-decoration: none;
    &:hover {
      .doc-card-title {
        text-decoration: underline;
      }
    }
  }

  .doc-card-private {
    position: absolute;
    top: -3px;
    left: -3px;
    text-transform: uppercase;
    font-family: $font-family-proximanova;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    color: $color-white;
    padding: 2px 8px;
    z-index: 1;
  }

  .doc-card-info {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .doc-card-content {
    margin: $space-1 * 2 0;
  }

  .doc-card-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .doc-card-header {
    display: flex;
    justify-content: space-between;
  }

  .doc-card-footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .doc-card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    .doc-card-list-item {
      margin-top: 10px;
    }

    .doc-card-list-item:nth-child(n+1) {
      margin-right: 10px;
    }

    .doc-card-list-button {
      margin-top: 10px;

      button {
        padding: 5px;
      }
    }
  }

  .doc-card-hidden-button-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  .doc-card-list-item {
    display: inline-block;
    position: relative;
    background: none;
    border: 0;
    border: 1px solid rgba($color-text-1, 0.8);
    line-height: 19px;
    cursor: pointer;

    > button {
      padding: 5px;
      background: none;
      border: none;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%) rotate(45deg);
      width: 10px;
      height: 10px;
      background: $color-tertiary;
      cursor: default;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%) rotate(45deg);
      width: 10px;
      height: 10px;
      background: rgba($color-black, .04);
      border-bottom: 1px solid rgba($color-text-1, 0.8);
      cursor: default;
    }

    .c-icon {
      vertical-align: middle;
      fill: rgba($color-text-1, 0.8);
    }
  }

  .doc-card-annexes {
    // display: flex;
    // align-items: center;
  }

  .doc-card-annexes-title {
    text-transform: uppercase;
    color: rgba($color-text-1, 0.5);
    font-size: $font-size-extrasmall;
    font-family: $font-family-proximanova;
    letter-spacing: 0.75px;
  }

  .doc-card-annex-text {
    font-size: $font-size-small;
  }

  .doc-card-why {

  }

  .doc-card-source {
    position: relative;
    text-transform: uppercase;
    color: rgba($color-text-1, 0.5);
    font-size: $font-size-extrasmall;
    font-family: $font-family-proximanova;
    letter-spacing: 0.75px;
    padding-top: $space-1 * 2;
    margin-bottom: $space-1;

    .-source {
      color: $color-text-1;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 1px;
      background: rgba($color-text-1, 0.5);
    }
  }

  .doc-card-date {
    text-transform: uppercase;
    color: rgba($color-text-1, 0.5);
    font-size: $font-size-small;
    font-family: $font-family-proximanova;
    letter-spacing: 0.75px;

    span {
      display: block;

      &.-date {
        color: $color-text-1;
      }
    }
  }

  .doc-card-status {
    font-family: $font-family-proximanova;
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: 0.75px;

    &.-why {
      cursor: pointer;
    }
  }

  .doc-card-title {
    margin: 0;
  }

  .doc-card-fmus {
    color: rgba($color-text-1, 0.5);
    font-family: $font-family-proximanova;
  }

  // STATUS
  &.-doc_valid {
    background: rgba($color-black, 0.04);

    &:after { background: $color-doc-valid; }

    .doc-card-title { color: rgba($color-text-1, 0.8); }
    .doc-card-status { color: $color-doc-valid; }
    .doc-card-private { background: $color-doc-valid; }
    .doc-card-info {
      button {
        border: 1px solid $color-doc-valid;
        border-radius: 50%;
        fill: $color-doc-valid;

        &:hover {
          background: $color-doc-valid;
          fill: $color-white;
        }
      }
    }

  }

  &.-doc_invalid {
    background: rgba($color-black, 0.04);

    &:after { background: $color-doc-invalid; }

    .doc-card-title { color: rgba($color-text-1, 0.5); }
    .doc-card-status { color: $color-doc-not-provided; }
    .doc-card-private { background: $color-doc-not-provided; }
  }

  &.-doc_not_provided {
    background: $color-doc-not-provided;

    .doc-card-title { color: $color-tertiary; }
    .doc-card-date { color: rgba($color-tertiary, 0.5); }
    .doc-card-status { color: rgba($color-tertiary, 0.5); }
    .doc-card-private { background: $color-doc-not-provided; }
    .doc-card-fmus { color: rgba($color-tertiary, 0.5); }
    .doc-card-info {
      button {
        border: 1px solid $color-tertiary;
        border-radius: 50%;
        fill: $color-tertiary;

        &:hover {
          background: $color-tertiary;
          fill: $color-doc-not-provided;
        }
      }
    }
  }

  &.-doc_pending {
    background: rgba($color-black, 0.04);

    &:after { background: $color-doc-pending; }

    .doc-card-title { color: rgba($color-text-1, 0.8); }
    .doc-card-status { color: $color-doc-pending; }
    .doc-card-private { background: $color-doc-pending; }
    .doc-card-info {
      button {
        border: 1px solid $color-doc-pending;
        border-radius: 50%;
        fill: $color-doc-pending;

        &:hover {
          background: $color-doc-pending;
          fill: $color-white;
        }
      }
    }

  }

  &.-doc_expired {
    background: rgba($color-black, 0.04);

    &:after { background: $color-doc-expired; }

    .doc-card-title { color: rgba($color-text-1, 0.8); }
    .doc-card-status { color: $color-doc-expired; }
    .doc-card-private { background: $color-doc-expired; }
    .doc-card-info {
      button {
        border: 1px solid $color-doc-expired;
        border-radius: 50%;
        fill: $color-doc-expired;

        &:hover {
          background: $color-doc-expired;
          fill: $color-white;
        }
      }
    }
  }

  &.-doc_not_required {
    background: rgba($color-black, 0.04);

    &:after { background: $color-doc-not-required; }

    .doc-card-title { color: rgba($color-text-1, 0.5); }
    .doc-card-status { color: $color-doc-not-required; }
    .doc-card-private { background: $color-doc-not-required; }
    .doc-card-info {
      button {
        border: 1px solid $color-doc-not-required;
        border-radius: 50%;
        fill: $color-doc-not-required;

        &:hover {
          background: $color-doc-not-required;
          fill: $color-white;
        }
      }
    }
  }


}
