.c-doc-filters {
  padding-top: 0;

  h3 {
    font-size: $font-size-large;
    font-weight: 500;
    margin: 0 0 23px;
  }

  .filter-option {
    display: inline-flex;
    flex-direction: column;
    width: 260px;

    label {
      margin-bottom: 22px;
      color: $color-primary;
      font-family: $font-family-proximanova;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 19px;
    }

    .filters-dropdown {
      position: relative;

      .dropdown-placeholder {
        position: relative;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -10px;
          width: 0;
          height: 0;
          margin: -3px 0 0;
          border-style: solid;
          border-width: 4px 3px 0px 3px;
          border-color: #005b23 transparent transparent transparent;
        }
      }

      .dropdown-content {
        position: absolute;
        background-color: $color-tertiary;
        border: 1px solid $border-color-1;
        padding: 12px 18px;
        box-shadow: 0 15px 29px 0 rgba(0, 0, 0, 0.14);
        margin: 2px;
        width: 100%;
        z-index: 2;

        option {
          cursor: pointer;
          margin: 4px 0;
        }
      }
    }

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      text-transform: unset;

      &:after {
        right: -10px;
      }
    }
  }
}
