.c-doc-card-upload {
  margin: -$space-1 0 $space-1 * 4;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;

    li {
      input[type='file'] {
        position: absolute;
        visibility: hidden;
        top: -9999px;
        left: -9999px;
      }
    }

    li:first-child {
      margin-right: 5px;
    }

    li:nth-child(n + 2) {
      margin-left: 5px;
    }

    button {
      white-space: normal;
      height: 100%;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
