.c-expandable-section {
  .expandable-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .expandable-section-btn {
      height: 30px;
      min-width: 100px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      background-color: transparent;
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;

      &.open {
        color: #f7f6ed;
        background-color: rgba(0, 0, 0, 0.8);
      }

      &.disabled {
        pointer-events: none;
        opacity: .4;
      }
    }

    h3 {
      margin: 0;
    }
  }
}
