.c-fa-attributions {
  padding: $space-1 * 4;

  a {
    display: block;
    color: $color-green-1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h4 {
    margin-bottom: $space-1;
  }

  .attributions--copyright {
    font-size: $font-size-small;
  }
}