
.c-filters-operators {
  background-color: $color-primary;
  padding: $space-1 * 4 $space-1 * 4 0;
  color: $color-tertiary;

  p {
    line-height: 1.5;
  }

  .c-title {
    margin-top: 0;
  }

  .field {
    .title {
      font-family: $font-family-georgia;
      color: $color-white;
      text-transform: capitalize;
      margin-bottom: 2px;
      font-size: $font-size-default;
      line-height: 26px;
      font-weight: normal;
    }
  }
}
