.c-filters {
  padding-top: 36px;

  .c-title {
    margin-top: 0;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 41px;
    display: flex;
    align-items: center;

    .filters-toggle-btn {
      background: none;
      border: 1px solid $color-primary;
      cursor: pointer;
      outline: none;
      height: 32px;
      width: 32px;
      padding: 0;
      margin-left: 20px;

      svg {
        margin-bottom: 10px;
        fill: $color-primary;
      }

      &.-green {
        background-color: $color-primary;

        svg {
          fill: white;
        }
      }
    }
  }

  .filters-wrapper {
    position: relative;

    background-color: $color-primary;
    padding: 30px 0;

    .grid-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;

      @include breakpoint(medium) {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
      }

      @include breakpoint(large) {
        column-gap: 60px;
      }

      .field {
        .title {
          font-family: $font-family-georgia;
          color: $color-white;
          text-transform: capitalize;
          margin-bottom: 2px;
          font-size: $font-size-big;
          line-height: 26px;
          font-weight: normal;
        }

        .react-select-container {
          cursor: pointer;

          input {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
