
.c-filters-operators {
  background-color: $color-primary;
  padding: $space-1 * 4 $space-1 * 4 0;
  color: $color-tertiary;
  position: relative;
  z-index: 2;

  p {
    line-height: 1.5;
  }

  .c-title {
    margin-top: 0;

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: $space-1;
      width: 20px;
      height: 20px;
      border: 1px solid $color-tertiary;
      border-radius: 50%;
      fill: $color-tertiary;

      &:hover {
        background: $color-tertiary;
        fill: $color-primary;
      }
    }
  }

  .field {
    .title {
      font-family: $font-family-georgia;
      color: $color-white;
      text-transform: capitalize;
      margin-bottom: 2px;
      font-size: $font-size-default;
      line-height: 26px;
      font-weight: normal;
    }

    .search {
      width: 100%;
      position: relative;
    }

    .search-remove {
      appearance: none;
      background: none;
      box-shadow: none;
      border: none;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      fill: $color-white;
      outline: none;
    }

    .search-input {
      appearance: none;
      background: none;
      border: none;
      font-family: $font-family-proximanova;
      line-height: 32px;
      font-weight: 700;
      font-size: $font-size-extrasmall;
      width: 100%;
      outline: 0;
      color: #FFF;
      text-transform: uppercase;

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 32px;
      }
    }
  }
}
