.c-fmu-card {
  position: absolute;
  top: 50px;

  padding: $space-1 * 4 $space-1 * 6 $space-1 * 4 $space-1 * 4;
  background: $color-secondary;

  > .card-container {
    max-height: 270px;
    overflow-y: auto;

    > .card-title {
      margin: 0 0 $space-1 * 2;
      font-family: $font-family-proximanova;
      font-size: $font-size-default;
      font-weight: $font-weight-default;
      line-height: 1.25;
      color: $color-text-2;
      text-transform: uppercase;
    }

    > .fmu-list {
      padding: 0;
      margin: 0;
    }

    > .fmu-list > .fmu-item {
      list-style: none;
      font-size: $font-size-default;
      color: rgba($color-black, .8);

      &:not(:first-child) {
        margin: $space-1 0 0;
      }
    }
  }
}
