.c-fmu-certificates {
  .fmu-certificates-table {
    border-collapse: collapse;

    tbody {
      tr:not(:last-of-type) {
        border-bottom: 1px solid $border-color-2;
      }

      td {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    th {
      text-align: left;
    }

    .td-certifications {
      padding-left: $space-1 * 4;
    }
  }
}
