.c-gallery {
  padding: $space-1 * 8 0 0;

  &:first-child { padding-top: 0; }
  &:last-child { padding-bottom: 0; }

  h2 {
    margin: 0 0 $space-1 * 5;
  }

  .gallery-content {
    position: relative;
    min-height: 200px;
  }

  .columns {
    display: flex;
  }

  @include breakpoint(small only) {
    .columns.small-12:not(:last-child) {
      margin-bottom: $space-1 * 3;
    }
  }
}
