.c-icon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;

  &.-tiny {
    width: 7px;
    height: 7px;
  }

  &.-smaller {
    width: 10px;
    height: 10px;
  }

  &.-small {
    width: 12px;
    height: 12px;
  }

  &.-medium {
    width: 24px;
    height: 24px;
  }

  &.-big {
    width: 32px;
    height: 32px;
  }
}
