.c-intro {
  background: $color-tertiary;
  padding: $space-1 * 5 $space-1 * 7;

  h2 {
    padding: 0;
    margin: 0;
    font-size: $font-size-large;
    font-weight: $font-weight-default;

    > span {
      color: $color-secondary;
    }
  }
}
