.c-language-dropdown {
  display: inline-block;
  z-index: 1;

  &.dropdown--active .dropdown__content {
    display: block;
  }

  // Content
  .dropdown__content {
    display: none;
    position: absolute;
    bottom: calc(100% - 5px);
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 6px rgba($color-black ,0.25);

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: $space-1 * 2;
      height: $space-1 * 2;
      transform-origin: 0 0;
      transform: rotate(45deg);
      background: $color-tertiary;
      border-bottom: 1px solid rgba($color-black, 0.05);
      border-right: 1px solid rgba($color-black, 0.05);
    }
  }

  .dropdown__trigger {
    cursor: pointer;
  }

  // List
  .language-dropdown-list {
    list-style: none;
    margin: 0;
    padding: $space-1 * 2;
    background: $color-tertiary;
  }

  .language-dropdown-list-item {
    cursor: pointer;
    text-align: center;

    a {
      text-decoration: none;
      padding: 4px;
      display: block;
      color: $color-gray-1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
