
.c-navigation-list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 0 0 0 $space-1 * 3;
  margin: 0 0 0 $space-1 * 3;
  font-family: $font-family-proximanova;
  font-weight: $font-weight-default;
  font-size: $font-size-small;
  text-transform: uppercase;


  // Border between lists
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background: $border-color-2;
  }

  &:first-child {
    &:after {
      display: none;
    }
  }

  > li {
    margin-right: 45px;
    &:last-child { margin-right: 0; }

    > a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 20px 0;
      text-decoration: none;
      white-space: nowrap;
      letter-spacing: 1px;
      color: $color-text-1;

      > * {
        display: block;
        margin-right: $space-1;
        &:last-child { margin-right: 0; }
      }
    }
  }
}
