.c-notifications {
  padding: 20px;

  .notification-date {
    white-space: nowrap;
    color: $color-doc-expired;
  }

  .notifications-actions {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    justify-content: end;
  }
}
