.c-observations-by-illegality {
  position: relative;
  padding: 0 0 $space-1 * 2;

  h3,
  h4 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // CATEGORIES
  .obi-category-list {
    position: relative;
    z-index: 1;
  }

  .obi-category-list-item {
    margin: $space-1 * 6 0 0;

    &:first-child {
      margin: 0;
    }
  }

  .obi-category-title {
    color: $color-primary;
    font-size: $font-size-extrabig;
  }

  // ILLEGALITIES
  .obi-illegality-list {
    margin: $space-1 0 0;
  }
}


// INFO
.obi-illegality-info {
  position: relative;

  padding-top: $space-1 * 2;
  padding-bottom: $space-1 * 2;

  border-top: 1px solid $color-tertiary;

  &.-expanded {
    background: $color-green-1;

    .obi-illegality-info-title {
      color: $color-text-2;
      margin-bottom: $space-1 * 4;

      .c-icon {
        fill: $color-text-2;
      }

      &:hover {
        span {
          border-bottom: 1px solid $color-text-2;
        }
      }
    }

    .c-icon {
      color: $color-text-2 !important;
      fill: $color-text-2 !important;
      border-color: $color-text-2 !important;
    }

    button {
      color: $color-text-2;
    }

    button.-icon {
      border-color: $color-text-2 !important;
    }

    a {
      border-color: $color-text-2 !important;
    }

    .c-readmore {
      a {
        color: $color-text-2 !important;
        border-color: $color-text-2 !important;
      }
    }
  }

  .obi-illegality-info-title {
    user-select: none;
    cursor: pointer;

    &:hover {
      span {
        border-bottom: 1px solid $color-text-1;
      }
    }

    .c-icon {
      margin-left: $space-1;
    }
  }
}
