.c-obs-overview {
  position: relative;

  h2.c-title {
    margin-bottom: 20px;
  }

  &__no-data {
    padding: 20px;
    background: $color-gray-2;
  }

  &__links {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;

    div {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .c-icon {
      margin-right: 5px;
    }
  }
}
