$illegality-total-width: 30px;
$severity-width: 260px;

.c-observations-by-illegality {
  position: relative;
  padding: 0 0 $space-1 * 2;

  h3, h4 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // CATEGORIES
  .obi-category-list {
    position: relative;
    z-index: 1;
  }

  .obi-category-list-item {
    margin: $space-1 * 6 0 0;
    &:first-child { margin: 0; }
  }

  .obi-category-title {
    color: $color-primary;
    margin-left: $severity-width + $illegality-total-width;
    padding: 0 0 0 $space-1 * 3;
  }

  // ILLEGALITIES
  .obi-illegality-list {
    margin: $space-1 0 0;
  }

  .obi-illegality-list-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: $space-1 0;
  }

  .obi-illegality-title {
    padding: 0 0 0 $space-1 * 3;
    line-height: 1;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .obi-illegality-total {
    position: relative;
    width: $illegality-total-width;
    font-family: $font-family-proximanova;
    font-size: $font-size-small;
    font-weight: 700;
    text-align: center;

    &.-selected {
      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        width: $space-1 * 2;
        height: $space-1 * 2;
        background: $color-green-1;
        transform: rotate(45deg);
        transform-origin: 0 0;
      }
    }
  }



  // SEVERITY
  .obi-severity-list {
    flex: 0 0 260px;
    padding: 0 $space-1 * 3 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .obi-severity-list-item {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 0 $space-1/2 $space-1/2;
    border-radius: 50%;

    &.-severity-0 { background: $color-gray-3; }
    &.-severity-1 { background: $color-primary; }
    &.-severity-2 { background: $color-gray-1; }
    &.-severity-3 { background: $color-secondary; }
  }
}


// INFO
.obi-illegality-info {
  background: $color-green-1;
  padding: $space-1 * 6 0;
  margin: 0 0 $space-1 * 2;

  .obi-illegality-info-title {
    margin: 0 0 $space-1 * 5;

    color: $color-text-2;
  }
}
