.c-options-table {
  width: 100%;
  min-height: 100px;
  position: relative;

  table {
    width: 100%;
  }

  th:first-child {
    text-align: left;
    width: 100%;
  }

  th {
    min-width: 140px;
  }

  td {
    min-width: 140px;
  }

  td:first-child {
    width: 100%;
  }

  td:last-child {
    text-align: right;
  }

  .option-header-center {
    text-align: center;
  }

  .options-checkbox {
    label {
      padding: 0;
      width: 20px;
      height: 20px;
    }

    .checkbox-icon {
      top: 0;
    }
  }

  .options-checkbox-column {
    display: flex;
    justify-content: center;
  }

  .options-button:first-child {
    margin-right: 20px;
  }

  .options-button {
    padding: 5px;
  }
}
