.c-partner-card {
  margin-top: $space-1 * 4;

  .partner-card-title {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }

  .partner-card-logo {
    margin: 0;
    max-height: 120px;
  }

  .partner-card-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
  }

  .partner-card-content {
    margin-top: $space-1 * 2;
    font-size: $font-size-default;
  }

  .partner-card-text {
    margin-bottom: 0;
    line-height: $font-size-extrabig;
  }

  .partner-card-link {
    color: $color-text-1;
    text-decoration: none;
  }
}
