
.c-ranking {
  margin: $space-1 * 4;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    position: relative;
    border-right: 0;
    font-size: $font-size-small;
    line-height: 19px;

    // Text align
    &.-ta-right { text-align: right; }
    &.-ta-center { text-align: center; }
    &.-ta-left { text-align: left; }

    // Types
    &.td-documentation {
      padding-left: 4px;
    }
  }

  th {
    padding: $space-1 * 2 $space-1 * 2 $space-1;
    color: $color-primary;
    font-weight: 400;
    white-space: nowrap;
    font-family: $font-family-proximanova;

    &.-break-ponit {
      border-left: $space-1 * 4 solid transparent;
    }

    &.-contextual {
      color: $color-text-1;

      &:after {
        background: rgba($color-text-1, 0.1);
      }
    }

    &:first-child { padding: $space-1*2 $space-1*2 $space-1 0; }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba($color-primary, 0.1);
    }

    &.-sort {
      cursor: pointer;

      &:hover {
        color: darken($color-primary, 15%);
      }

      svg {
        margin-left: 5px;
      }
    }
  }

  td {
    padding: $space-1 / 2 $space-1 * 2;
    font-family: $font-family-georgia;
    vertical-align: baseline;

    // &.-contextual {
    //   background: $color-tertiary;
    // }

    // &:first-child { padding: $space-1/2 $space-1*2 $space-1/2 0; }
  }

  a {
    text-decoration: none;
    color: $color-gray-1;

    &:hover {
      text-decoration: underline;
    }
  }

  // STOPLIGHT
  .stoplight-dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px auto 0;
    background: $color-gray-3;
  }

  .certifications-td {
    p {
      line-height: 1;
      margin: 5px 0 0;
      font-size: 10px;

      &:first-child { margin: 0;}
    }
  }
}
