.c-select {
  .react-select {
    &__input-container {
      color: rgba($color-white, .8);
    }

    &__control {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      cursor: text;
      min-height: 30px;

      &--is-focused {
        border-color: rgba($color-tertiary, .3);
        box-shadow: none;
      }

      &:hover {
        box-shadow: none;
      }

      .react-select__value-container {
        padding-left: 0;
        padding-right: 0;
      }

      .react-select__placeholder {
        color: rgba($color-white, .5);
        font-family: $font-family-proximanova;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 32px;
        font-weight: 700;
        font-size: $font-size-extrasmall;
        padding-left: 0;
      }

      .react-select__indicators {
        .react-select__indicator-separator {
          display: none;
        }

        .react-select__dropdown-indicator, .react-select__clear-indicator {
          cursor: pointer;
          color: rgba($color-white, .54);
          padding: 4px;

          svg {
            height: 14px;
            width: 14px;
          }
        }
      }
    }

    &__multi-value {
      color: white;
      background-color: transparent;
      border: 1px solid rgba($color-white, .3);
      border-radius: 20px;
      padding-left: 5px;
      margin-left: 0;
      margin-right: 3px;
      margin-bottom: 5px;
      margin-top: 0;

      display: inline-flex;
      flex-direction: row;
      align-items: center;

      &.last-child {
        margin-right: 0;
      }

      &__label {
        color: $color-white;
        font-family: $font-family-proximanova;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: 700;
        font-size: $font-size-extrasmall;
        word-break: break-word;
        white-space: unset;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &__remove {
        cursor: pointer;
        margin-top: -3px;
        border-left: 0;

        svg {
          height: 14px;
          width: 14px;
        }

        &:hover {
          background-color: transparent;
          color: rgba($color-white, .7);
        }
      }
    }

    &__menu {
      background-color: white;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;

      .react-select__option {
        font-family: $font-family-proximanova;

        &--is-focused {
          background-color: rgba($color-text-1, .07);
          color: $color-text-1;
          font-family: $font-family-proximanova;
        }

        &:hover {
          background-color: rgba($color-text-1, .07);
          color: $color-primary;
        }
      }
    }
  }
}
