$sidebar-width: 600px;

.c-sidebar {
  width: $sidebar-width;
  z-index: 2;
  flex-shrink: 0;
  background: rgba($color-black, .04);
  box-shadow: 0 0 5px rgba($color-black, .25);

  &.-fluid {
    flex: 1;
  }
}
