.c-stacked-timeline {
  width: 100%;
  min-height: 300px;
  text-align: center;
  position: relative;

  .report-item {
    fill: $lg-color-2;
    height: 16px;
    stroke-width: 1px;
    stroke: $color-tertiary;

    &.-was-valid {
      fill: $color-green-1;
    }

    &.-not-valid {
      fill: #e98300;
      stroke: #f7f6ed;
    }
  }

  .axis {
    &.x {
      line {
        fill: none;
        stroke: $color-gray-2;
        stroke-width: 1px;
        opacity: 0.8;
        shape-rendering: crispEdges;
      }
    }

    &.y {
      text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    path {
      fill: none;
      stroke: $color-gray-1;
      shape-rendering: crispEdges;
    }
  }

  rect {
    &.pane {
      fill: none;
      pointer-events: all;
    }
  }

  rect {
    &.event-rect {
      height: 16px;
    }
  }

  .current-date-line {
      stroke-width: 1;
      stroke: $color-gray-1;
      fill: none;
  }

  .time-range {
    .time-range-start {
      display: none;
    }

    .time-range-end {
      display: none;
    }
  }
}
