
.c-table {
  display: flex;
  flex-direction: column;
  flex: 1;

  // Override
  .ReactTable {
    border: 0;

    .rt-thead {
      box-shadow: none;
    }

    .rt-tr {
      text-align: left;
    }

    .rt-th,
    .rt-td {
      border-right: 0;
      font-size: $font-size-default;
      line-height: 19px;
      padding: 26px 30px 45px 0;

      &.-a-right {
        text-align: right;
      }
      &.-a-center {
        text-align: center;
      }
      &.-a-left {
        text-align: left;
      }
    }

    .rt-th {
      color: rgba($color-black, .9);
      font-family: $font-family-proximanova;
      text-transform: uppercase;
      padding: 26px 30px 20px 0;

      &.-sort-asc,
      &.-sort-desc {
        box-shadow: none;
        color: $color-primary;

        .sortable {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -10px;
            transform: rotate(45deg) translate(-50%,-50%);
            width: 6px;
            height: 6px;
          }
        }
      }

      &.-sort-desc {
        .sortable:after {
          border-right: 2px solid $color-primary;
          border-bottom: 2px solid $color-primary;
        }
      }

      &.-sort-asc {
        .sortable:after {
          border-top: 2px solid $color-primary;
          border-left: 2px solid $color-primary;
        }
      }
    }

    .rt-td {
      color: rgba($color-black, .9);
      font-family: $font-family-georgia;

      &.-uppercase {
        text-transform: uppercase;
      }

      &.-a-right {
        text-align: right;
      }
    }

    .severity {
      display: flex;
      justify-content: center;
    }

    .severity-th {
      text-align: center;
    }

    .severity-item {
      font-size: $font-size-huge;
      line-height: 32px;

      &.-sev-0 { color: $lg-color-0; }
      &.-sev-1 { color: $lg-color-1; }
      &.-sev-2 { color: $lg-color-2; }
      &.-sev-3 { color: $lg-color-3; }
    }

    .rt-noData {
      display: none;
    }
  }

  // SIDEBAR THEME
  &.-secondary {
    a {
      color: $color-text-1;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .rt-th,
    .rt-td {
      font-size: $font-size-default;
      line-height: normal;
      padding: $space-1 $space-1 * 2;
      white-space: normal;
      text-overflow: inherit;
    }

    .rt-th {
      font-size: $font-size-small;
      color: $color-primary;
      padding: $space-1 * 4 $space-1 * 2 $space-1 * 2;
      border-bottom: 3px solid rgba($color-primary, 0.2);
      text-transform: none;

      &:first-child {
        padding: $space-1 * 4 $space-1 * 2 $space-1 * 2 $space-1 * 4;
      }

      &:last-child {
        padding: $space-1 * 4 $space-1 * 4 $space-1 * 2 $space-1 * 2;
      }
    }

    .rt-td {
      padding: $space-1 $space-1 * 2;

      &:first-child {
        padding: $space-1 $space-1 * 2 $space-1 $space-1 * 4;
      }

      &:last-child {
        padding: $space-1 $space-1 * 4 $space-1 $space-1 * 2;
      }
    }

    .rt-resizable-header-content {
      white-space: normal;
      text-overflow: inherit;
      overflow: visible;
    }

    .rt-tbody .rt-tr-group {
      border-bottom: none;
    }

    // STOPLIGHT
    .stoplight-dot {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 5px auto 0;
      background: $color-primary;

      &.-red { background: $color-error; }
      &.-orange { background: $color-secondary; }
      &.-green { background: $color-primary; }
    }
  }
}
