
.c-table {
  display: flex;
  flex-direction: column;
  flex: 1;

  .report-item, .evidence-item {
    display: flex;
    position: relative;
    background: none;
    border: 0;
    border: 1px solid rgba($color-text-1, 0.8);
    cursor: pointer;
    padding: 5px;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%) rotate(45deg);
      width: 10px;
      height: 10px;
      background: $color-tertiary;
      border-bottom: 1px solid rgba($color-text-1, 0.8);
      cursor: default;
    }
  }

  // Override
  .ReactTable {
    border: 0;

    .rt-thead {
      box-shadow: none;
    }

    .rt-tr {
      text-align: left;

      &.-even, &.-odd { background: none; }
    }

    .rt-th,
    .rt-td {
      border-right: 0;
      font-size: $font-size-default;
      line-height: 19px;
      padding: 26px 30px 45px 0;

      &.-a-right {
        text-align: right;
      }
      &.-a-center {
        text-align: center;
      }
      &.-a-left {
        text-align: left;
      }
    }

    .rt-th {
      color: rgba($color-black, .9);
      font-family: $font-family-proximanova;
      text-transform: uppercase;
      padding: 26px 30px 20px 0;

      &.-sort-asc,
      &.-sort-desc {
        box-shadow: none;
        color: $color-primary;

        .sortable {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -10px;
            transform: rotate(45deg) translate(-50%,-50%);
            width: 6px;
            height: 6px;
          }
        }
      }

      &.-sort-desc {
        .sortable:after {
          border-right: 2px solid $color-primary;
          border-bottom: 2px solid $color-primary;
        }
      }

      &.-sort-asc {
        .sortable:after {
          border-top: 2px solid $color-primary;
          border-left: 2px solid $color-primary;
        }
      }
    }

    .rt-td {
      color: rgba($color-black, .9);
      font-family: $font-family-georgia;

      &.-uppercase {
        text-transform: uppercase;
      }

      &.-a-right {
        text-align: right;
      }

      &.report {
        text-align: center;

        .report-item-wrapper {
          display: inline-block;
        }
      }

      &.evidence {
        .evidence-item-wrapper {
          display: flex;

          .evidence-item {
            margin-left: $space-1;
            flex-shrink: 0;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }

      &.location {
        .location-item-wrapper {
          text-align: center;

          .c-button {
            padding: 5px;
          }

        }

        .location-item-text {
          font-size: 48px;
          line-height: 32px;
        }
      }

      &.description {
        white-space: normal;
        a {
          color: $color-primary;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        > p {
          margin: 0;
          line-height: 26px;
        }
      }

      &.status {
        white-space: normal;

        button {
          margin-left: 5px;
        }
      }

      .document-link {
        position: relative;
        display: inline-block;
        padding: 5px;
        border: 1px solid rgba($color-white, .5);
        color: rgba($color-text-2, .8);
        font-family: $font-family-proximanova;
        font-size: $font-size-small;
        text-transform: uppercase;
        text-decoration: none;
        white-space: normal;
        letter-spacing: 1px;
        margin-left: 5px;

        &:first-child {
          margin-left: 0;
        }

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(50%, -50%) rotate(45deg);
          width: 10px;
          height: 10px;
          background: $color-green-1;
          border-bottom: 1px solid rgba($color-white, .5);
          cursor: default;
        }

        &:hover {
          border: 1px solid rgba($color-white, .8);

          color: $color-text-2;

          &::after {
            border-bottom: 1px solid rgba($color-white, .8);
          }
        }
      }

    }

    // No data row
    .rt-noData {
      position: relative;
      left: auto;
      top: auto;
      transform: none;
      background: none;
      padding: $space-1 $space-1 * 2;
    }

    .severity {
      display: flex;
      justify-content: center;
    }

    .severity-th {
      text-align: center;
    }

    .severity-item {
      font-size: $font-size-huge;

      &.-sev-0 { color: $lg-color-3; }
      &.-sev-1 { color: $lg-color-2; }
      &.-sev-2 { color: $lg-color-1; }
      &.-sev-3 { color: $lg-color-0; }
    }

    .cell-list {
      margin: 0;
    }
  }

  // SIDEBAR THEME
  &.-secondary {
    a {
      color: $color-text-1;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .rt-th,
    .rt-td {
      font-size: $font-size-default;
      line-height: normal;
      padding: $space-1 $space-1 * 2;
      white-space: normal;
      text-overflow: inherit;
    }

    .rt-th {
      font-size: $font-size-small;
      color: $color-primary;
      padding: $space-1 * 4 $space-1 * 2 $space-1 * 2;
      border-bottom: 3px solid rgba($color-primary, 0.2);
      text-transform: none;

      &:first-child {
        padding: $space-1 * 4 $space-1 * 2 $space-1 * 2 $space-1 * 4;
      }

      &:last-child {
        padding: $space-1 * 4 $space-1 * 4 $space-1 * 2 $space-1 * 2;
      }
    }

    .rt-td {
      padding: $space-1 $space-1 * 2;

      &:first-child {
        padding: $space-1 $space-1 * 2 $space-1 $space-1 * 4;
      }

      &:last-child {
        padding: $space-1 $space-1 * 4 $space-1 $space-1 * 2;
      }
    }

    .rt-noData {
      padding: $space-1 $space-1 * 4;
    }

    .rt-resizable-header-content {
      white-space: normal;
      text-overflow: inherit;
      overflow: visible;
    }

    .rt-tbody .rt-tr-group {
      border-bottom: none;
    }

    // STOPLIGHT
    .stoplight-dot {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 5px auto 0;
      background: $color-gray-3;

      &.-state-3 { background: $color-error; }
      &.-state-2 { background: $color-secondary; }
      &.-state-1 { background: $color-primary; }
      &.-state-0 { background: $color-gray-3; }
    }
  }

  .-light {
    .rt-tr-group {
      border-bottom: 0;
    }

    .rt-th,
    .rt-td {
      color: $color-text-2;
    }

    .rt-th {
      &.-sort-asc,
      &.-sort-desc {
        color: $color-text-2;

        .sortable {
          &::after {
            border-color: $color-text-2;
          }
        }
      }
    }
  }
}
