.c-tabs {
  margin: -45px 0 0;

  &.-collapse {
    background: rgba($color-black, 0.1);

    .tabs-btn {
      background: transparent;
      color: $color-text-1;

      &:hover {
        background: rgba($color-black, 0.1);
      }
    }
  }

  // Tabs-btn
  .tabs-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 14px 20px 10px;
    border: none;
    font-family: $font-family-proximanova;
    font-size: $font-size-default;
    color: $color-text-2;
    background: rgba($color-black, 0.3);
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    .number {
      color: $color-secondary;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 0px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background: $color-secondary;
      transition: all $animation-time $ease-in-out-sine;
    }

    &:hover {
      background: rgba($color-black, 0.5);
    }

    &.-active {
      background: $color-tertiary;
      color: $color-text-1;

      &:after {
        height: 5px;
        opacity: 1;
      }
    }
  }
}
