.c-timestep {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-bottom: 10px;

  .player-btn {
    border: 1px solid $color-gray-1;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-top: 1px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    >svg {
      position: relative;
      width: 10px;
      height: 10px;
      fill: $color-gray-1;
      left: 0px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background: $color-gray-2;
    }

    &.-playing {
      background: $color-white;
      border-color: $color-white;

      >svg {
        left: 0;
        fill: $color-black;
      }
    }
  }

  .timestep-slider {
    width: 100%;
    cursor: pointer;

    &.can-play {
      margin-left: 15px;
      width: calc(100% - 20px);
    }
  }

  .rc-slider-handle {
    &:active {
      box-shadow: none;
    }

    &.rc-slider-handle-1,
    &:nth-last-child(2) {
      &::after {
        content: '';
        width: 4px;
        height: 4px;
        background-color: $color-black;
        position: absolute;
        border-radius: 4px;
        top: calc(50% - 2px);
        left: calc(50% - 2px);
      }
    }
  }

  .rc-slider-disabled {
    background-color: transparent;
  }

  .rc-slider-mark-text {
    font-size: $font-size-extrasmall;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
  }
}
