.c-title {
  font-size: $font-size-large;
  font-weight: $font-weight-default;
  line-height: 1.25;

  @include breakpoint(large) {
    font-size: $font-size-huge;
  }

  &.-proximanova {
    font-family: $font-family-proximanova;
  }

  // Font sizes
  &.-default { font-size: $font-size-default; }
  &.-big { font-size: $font-size-big; }
  &.-bigger { font-size: $font-size-bigger; }
  &.-extrabig { font-size: $font-size-extrabig; }
  &.-huge { font-size: $font-size-huge; }

  // Text transforms
  &.-uppercase {
    text-transform: uppercase;
  }

  //Font color
  &.-light { color: $color-white; }
  &.-dark { color: rgba($color-black, .8); }
}
