.c-tooltip {
  padding: 10px;
  min-width: 200px;
  background-color: $color-primary;

  .tooltip-title {
    margin-top: 0;
  }

  .tooltip-footer {
    display: flex;
    justify-content: space-between;
  }

  &.no-pointer-events {
    pointer-events: none;
  }

  &.auto-width {
    min-width: unset;
  }

  &.fixed-width {
    width: 320px;
  }

  dd {
    margin-left: 0;
  }

  .tooltip-hidden-button-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  // rc-tooltip overrides
  &.rc-tooltip {
    opacity: 1;

    .rc-tooltip-inner {
      border: none;
      color: $color-white;
      background-color: $color-primary;
      min-height: 0;
    }

    .rc-tooltip-arrow {
      border-bottom-color: $color-primary;
    }

    &.rc-tooltip-placement-top .rc-tooltip-arrow {
      border-top-color: $color-primary;
    }
  }
}
