.c-cookies-table {
  width: 100%;
  font-size: 16px;
  border: none;
  border-collapse: collapse;

  td, th {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: $color-gray-1;
    color: $color-white;
  }

  tr:nth-of-type(even) {
    background-color: $color-gray-2;
  }

  tr:nth-of-type(odd) {
    background-color: $color-tertiary;
  }
}
