.c-section {
  padding: $space-1 * 3 0;

  @include breakpoint(large) {
    padding: $space-1 * 5 0;
  }

  &.-map {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
  }

  &.-relative {
    position: relative;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
