.c-static-header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 250px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;

  h2 {
    margin: 0;
    padding: 0;
    font-size: $font-size-extrahuge;
    font-weight: $font-weight-default;
    color: $color-white;

    @media screen and (max-width: 1024px) {
      font-size: $font-size-huge;
    }

    @media screen and (max-width: 780px) {
      font-size: $font-size-large;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: $font-size-big;
    font-weight: $font-weight-default;
    font-family: $font-family-georgia;
    color: $color-white;
  }

  .container {
    &.-tabs {
      margin-bottom: 45px;
    }
  }

  .static-header-component {
    margin: $space-1 * 3 0 0;
  }
}
