.c-static-header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 250px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;

  &.-tabs {
    .container {
      margin-bottom: 45px;
      text-align: left;
      position: relative;
    }

    .wrapper {
      max-width: 1100px;
      padding: 0 20px;
      margin: 0 auto;
      width: 100%;
    }
  }

  &.-logo {
    height: auto;

    .container {
      position: relative;
      margin-bottom: 75px;
    }

    .logo-container {
      display: inline-block;
      background-color: $color-white;
      padding: 10px;
    }

    .logo {
      justify-content: flex-start;
      max-height: 50px;
      width: auto;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: $font-size-extrahuge;
    font-weight: $font-weight-default;
    color: $color-white;

    @media screen and (max-width: 1024px) {
      font-size: $font-size-huge;
    }

    @media screen and (max-width: 780px) {
      font-size: $font-size-large;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: $font-size-big;
    font-weight: $font-weight-default;
    font-family: $font-family-georgia;
    color: $color-white;
  }

  .static-header-component {
    position: absolute;
    top: 0;
    right: 0;
    margin: $space-1 * 3 0 0;
  }
}
