$legend_component: 'vizzuality';

.c-legend {
  position: absolute;
  left: $space-1;
  right: auto;
  bottom: auto;
  top: $space-1 * 3;
  z-index: 5;
  max-width: 260px;

  @include breakpoint(medium) {
    max-width: 300px;
    left: $space-1 * 3;
  }

  @include breakpoint(large) {
    width: 300px;
  }

  &.-relative {
    z-index: 0;
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;

    .#{$legend_component}__c {
      &-legend-map {
        border: none;
      }
    }
  }

  .#{$legend_component}__c {
    &-legend-map {
      border: 1px solid $border-color-2;
      border-radius: 0;

      .#{$legend_component}__toggle-legend {
        background: $color-white;
        border-radius: 0;
        right: 0;
        transform: none;
        top: 1px;

        svg {
          fill: $color-black;
          transform: rotate(180deg);
        }
      }

      .#{$legend_component}__close-legend {
        background: #FFF;
        appearance: none;
        border-radius: 0;
      }


      .#{$legend_component}__open-legend {
        &.#{$legend_component}__-active {
          .#{$legend_component}__toggle-legend {
            height: 40px;
            left: 100%;
            right: auto;
            border: 1px solid $border-color-2;
            border-left: none;
            top: -1px;
          }
        }
      }

      .#{$legend_component}__legend-title {
        // color: $color-white;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;

        .#{$legend_component}__toggle-legend svg {
          fill: $color-black;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.#{$legend_component}__c-legend-list {
  max-height: 50vh;

  @include breakpoint(medium) {
    max-height: calc(100vh - 130px);
  }
}

.#{$legend_component}__c-legend-item {
  font-family: $font-family-proximanova;
  opacity: 1;

  .#{$legend_component}__legend-item-header > h3 {
    text-transform: uppercase;
    font-size: $font-size-extrasmall;
    letter-spacing: 1px;
    margin: 6px 0 0;
  }

  .#{$legend_component}__legend-item-header {
    .vizzuality__c-icon {
      pointer-events: none;
    }
  }

  .#{$legend_component}__c-legend-type-choropleth > li {
    flex: 1 0 0;
  }

  .#{$legend_component}__c-legend-type-basic {
    font-family: $font-family-proximanova;

    > ul.#{$legend_component}__vertical > li {
      margin-bottom: $space-1 * 1.5;

      &:last-child { margin-bottom: 0; }
    }

    .#{$legend_component}__legend-basic-group {
      padding: 8px 0 0 20px;
    }

  }

  .#{$legend_component}__c-legend-timestep.#{$legend_component}__-can-play {
    margin-left: 0px;
    width: calc(100% - 10px);
  }

  .#{$legend_component}__c-timestep {

    &.#{$legend_component}__can-play {
      margin: 12px 0 0 -4px;
    }


    .vizzuality__player-btn {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $color-gray-1;
      border-radius: 50%;

      &:hover {
        background: $color-gray-2;
      }

      &.-playing {
        background: $color-white;
        border-color: $color-white;

        > svg {
          left: 0;
          fill: $color-black;
        }
      }

      > svg {
        position: relative;
        width: 10px;
        height: 10px;
        fill: $color-gray-1;
        left: 0px;
      }
    }

    .vizzuality__timestep-slider.vizzuality__can-play {
      margin-left: 15px;
      width: calc(100% - 20px);
    }

    > .vizzuality__range-slider {
      .vizzuality__range.vizzuality__can-play {
        width: calc(100% - 40px);
        margin-left: 14px;
      }
    }

    .rc-slider-handle {
      &:active {
        box-shadow: none;
      }

      &.rc-slider-handle-1,
      &:nth-last-child(2) {
        &::after {
          content: '';
          width: 4px;
          height: 4px;
          background-color: $color-black;
          position: absolute;
          border-radius: 4px;
          top: calc(50% - 2px);
          left: calc(50% - 2px);
        }
      }
    }

    .rc-slider-disabled {
      background-color: transparent;
    }

    .rc-slider-mark-text {
      font-size: $font-size-extrasmall;
      font-weight: $font-weight-bold;
      letter-spacing: 1px;
    }
  }

  .#{$legend_component}__custom-icon,
  .#{$legend_component}__icon-circle,
  .#{$legend_component}__icon-line,
  .#{$legend_component}__icon-square,
  .#{$legend_component}__icon-triangle {
    margin-right: $space-1;
    margin-top: -1px;
  }

  .#{$legend_component}__icon-square {
    border-radius: 3px;
  }

  .#{$legend_component}__name {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: $font-weight-bold;
  }

  .#{$legend_component}__c-legend-item-basic {
    font-family: $font-family-proximanova;
  }

  .legend-item-disclaimer {
    margin-top: 10px;

    .highlight {
      cursor: help;
      border-bottom: dashed 1px #9e9e9e;
    }
  }
}

