.c-map {
  width: 100%;
  height: 100%;
  position: relative;
}

.c-map-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  &.-static {
    height: 600px;
  }

  &.-modal {
    height: 300px;
    margin-top: 20px;
  }

  &.-table {
    height: 300px;
  }

  &.-absolute {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.-picker {
    canvas {
      cursor: crosshair;
    }
  }
}
