.c-map-popup {
  padding: $space-1 * 1.5;

  @include breakpoint(large) {
    padding: $space-1 * 3;
  }

  .map-popup--close {
    appearance: none;
    cursor: pointer;
    position: absolute;
    top: $space-1 * 1.5;
    right: $space-1 * 1.5;
    z-index: 2;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(large) {
      top: $space-1 * 3;
      right: $space-1 * 3;
    }

    &:hover {
      background: darken($color-white, 5%);
    }
  }
}


.mapboxgl-popup {
  .mapboxgl-popup-content {
    padding: 0;
  }
}

.c-layer-popup {
  font-size: $font-size-small;
  max-width: 200px;

  @include breakpoint(medium) {
    max-width: 300px;
  }

  .layer-popup--title {
    position: relative;
    margin: 0 0 $space-1 * 2;
  }

  .layer-popup--select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .layer-popup--table {
    width: inherit;
    line-height: 1.25;

    .layer-popup--list-dt {
      padding: 0 0 $space-1 * 1.5;
      font-weight: $font-weight-bold;
      vertical-align: baseline;
      // text-align: right;
    }

    .layer-popup--list-dd {
      width: 60%; // Make sure data in tooltip always have 60% of the free space
      padding: 0 0 $space-1 * 1.5 $space-1;
      vertical-align: baseline;
    }
  }

  .layer-popup--list {
    margin: 0;
    padding-left: $space-1 * 2;
  }
}
