.c-field {
  padding: $space-1 * 2;
  background: $color-gray-2;

  .label {
    font-size: $font-size-default;
    font-family: $font-family-proximanova;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding: 0 0 5px;
    color: $color-text-1;
    background: none;
    font-weight: $font-weight-default;
  }

  abbr {
    text-decoration: none;
  }

  .hint {
    font-style: italic;
    padding: 0 0 5px;
    font-size: 12px;
    margin: 0;
  }

  .error {
    color: $color-error;
    margin: 3px 0 0;
    font-size: 12px;
  }

  > input,
  > textarea,
  > select,
  .input {
    display: inline-block;
    background: $color-gray-2;
    border: none;
    border-bottom: 1px solid $border-color-2;
    box-shadow: none;
    outline: none;
    font-size: $font-size-default;
    padding: 12px;
    width: 100%;
    max-width: 400px;
    font-family: inherit;
    color: $color-text-1;
    margin: 0;
    border-radius: 0px;

    &:hover {
      border-color: darken($border-color-2, 5%);
    }
  }

  > input::placeholder,
  > textarea::placeholder,
  > select::placeholder,
  .input::placeholder {
    color: $color-text-2;
  }


  /**
   * STATES
   * -fluid
   * -valid
   * -error
  */
  &.-fluid {
    width: 100%;

    > input,
    > textarea,
    > select,
    .input,
    .Select {
      max-width: 100%;
    }
  }

  &.-disabled {
    > input,
    > textarea,
    > select,
    .input,
    .Select {
      background: $color-tertiary;
    }
  }

  &.-valid {
    > input,
    > textarea,
    > select,
    .input,
    .Select-control {
      // border-color: $color-green;
    }
  }

  &.-error {
    > input,
    > textarea,
    > select,
    .input,
    .Select-control {
      border-color: $color-error;
    }
  }
}
